body {
    background: hwb(0 0% 0%);
    color: rgb(129, 84, 30);
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
